<script src="/main.js"></script>

<center>
    <h1>Free Nitro Generator</h1>
    <br><br>
    <a href="">Loading...</a>
    <br><br><br><br>
    <p>---------------------</p>
    <p>Made with 💖 by tpglitch</p>
</center>
